.Header
  background-color pink
  display flex
  justify-content space-between
  align-items center
  padding 1em
  &__logo
    color purple
    font-size 18px
  &__button
    padding .8em
    border 1px solid grey
    border-radius 6px
    a
      text-decoration none
    &--success
      background-color blue
      a
        color white
    &--danger
      background-color red
      a
        color black